<div class="card bg-light mt-2">
    <div class="m-4 mt-4 pb-4">
            <nav class="nav nav-pills nav-justified">
                    <a [ngClass]="milkEggs" (click)="onSelect(0)" style="cursor: pointer;">Milk & Eggs</a>
                    <a [ngClass]="vegetableFruits" (click)="onSelect(1)" style="cursor: pointer;">Vegetable & Fruits</a>
                    <a [ngClass]="meatFish" (click)="onSelect(2)" style="cursor: pointer;">Meat & Fish</a>
                    <a [ngClass]="wineDrinks" (click)="onSelect(3)" style="cursor: pointer;">Wine & Drinks</a>
            </nav>
            <hr/>
    </div>
</div>