<h1 class="text-center pt-5">404</h1>
<h2 class="text-center pt-1">Oops, we think that you shouldn't be here</h2>
<h3 [routerLink]="['']" class="text-dark text-center mt-5" style="cursor: pointer;"><i class="fas fa-arrow-left text-success ml-2"></i> Take me home</h3>

<iframe class="mx-auto d-block mt-4"  width="560" height="315" src="https://www.youtube.com/embed/1vrEljMfXYo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>