<div class="card bg-light">
    <div class="ml-4 mr-4 mt-4 row">
        <h5 class="col-9 text-left text-secondary">Product Management</h5>
        <p class="col-3 text-right text-secondary"><span style="cursor: pointer;"><i (click)="newProductStart()" class="fas fa-plus"></i></span></p>
    </div>
    <hr/>
    
    <div class="m-4 mt-4 pb-4">
        <form (ngSubmit)="onSubmit()" #productForm="ngForm" class="pt-3">

                <div class="form-group">
                        <label for="name">Product Name:</label>
                    <input type="text" class="form-control" id="name"
                        required
                        [(ngModel)]="this.productService.productName" name="name"
                        #name="ngModel">
                    <p [hidden]="name.valid || name.pristine"
                    class="text-danger small mt-1">Product name is required</p>
                    
                </div>

                <div class="form-group">
                    <label for="id">Product Id:</label>
                    <input type="number" class="form-control" id="id"
                        required
                        [(ngModel)]="this.productService.productId" name="id"
                        #id="ngModel">
                    <p [hidden]="id.valid || id.pristine"
                    class="text-danger small mt-1">Id is required</p>
                
                </div>
        
                <div class="form-group">
                    <label for="price">Product Price:</label>
                    <input type="number" class="form-control" id="price"
                        required
                        [(ngModel)]="this.productService.productPrice" name="price"
                        #price="ngModel">
                    <p [hidden]="price.valid || price.pristine"
                    class="text-danger small mt-1">Price is required</p>
                
                </div>


                <div class="form-group">
                    <label for="picture">Picture URL:</label>
                    <input type="text" class="form-control" id="picture"
                        [(ngModel)]="this.productService.productPicture" name="picture"
                        #picture="ngModel">
                </div>

                <div class="form-group">
                        <label for="categoryselect">Product Category:</label>
                    <select required [(ngModel)]="this.productService.productCategory" name="categoryselect" #selectcategory class="form-control" id="categoryselect">
                        <option disabled selected value="">Select Category </option>
                        <option *ngFor="let category of this.productService.categories; let i = index" [ngValue]="''+category.id">{{category.name}}</option>
                    </select>

                    <p *ngIf="selectcategory.errors?.required" [hidden]="selectcategory.valid || selectcategory.pristine"
                        class="text-danger small mt-1">Please select category</p>
                </div>



                <div class="row no-gutters">
                    <div class="col-12">
                        <button type="submit" class="btn btn-success btn-md mx-auto d-block" [disabled]="!productForm.form.valid">Save</button>
                    </div>
                </div>
        
            </form>
        </div>
</div>