<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink=''><i class="fas fa-store-alt"></i> {{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

            </ul>
            <span class="navbar-text">
                <i class="far fa-envelope mr-1"></i> {{contactEmail}}
            </span>
            <span class="navbar-text ml-3">
                    <i class="fas fa-phone mr-1"></i> {{contactPhone}}
            </span>
            <span *ngIf="userService.isUserLoggedIn" class="navbar-text ml-3">
                    <i class="fas fa-user mr-1"></i> Hello {{this.userService.user.firstName}} {{this.userService.user.lastName}}
            </span>

            <span *ngIf="!userService.isUserLoggedIn" class="navbar-text ml-3">
                <i class="fas fa-user mr-1"></i> Hello Guest
            </span>

            <button *ngIf="userService.isUserLoggedIn" class="btn btn-sm btn-danger ml-3" type="button" (click)="onClickLogout()">log out</button>
        </div>
      </nav>