<div class="card bg-light">
    <div class="m-4 mt-4 pb-4">
    <h5 class="text-dark">Already registered?</h5>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="pt-3">

        <div class="form-group">
            <input type="text" class="form-control" id="name"
                required
                placeholder="Username"
                [(ngModel)]="userName" name="name"
                #name="ngModel">
            <p [hidden]="name.valid || name.pristine"
            class="text-danger small mt-1">Username is required</p>
            
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="password"
                required
                placeholder="Password"
                [(ngModel)]="userPassword" name="password"
                #password="ngModel">
            <p [hidden]="password.valid || password.pristine"
            class="text-danger small mt-1">Password is required</p>
            
        </div>

        <button type="submit" class="btn btn-success btn-md" [disabled]="!loginForm.form.valid">Login</button>
        <button class="btn btn-link text-secondary" (click)="onSwitchToRegister()" type="button">Sign Up</button>

    </form>


    </div>
</div>